@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-background: #121212;
        --color-card: #1e1e1e;
        --color-card-light: #2c2c2c;
        --color-accent: #4db6ac;
    }

    body {
        @apply bg-background text-textMain;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
}

.animate-slide-left {
    animation: slide-left 0.3s ease-out forwards;
}

.animate-slide-right {
    animation: slide-right 0.3s ease-out forwards;
}